body {
    background-color: #ffffff;
    margin: 0;
}

#MOD {
    display: block;
}

#CHS_UFO {
    display: none;
}

#CHS_VO {
    display: none;
}

#KNP_VO {
    display: none;
}

#IDIV {
    display: none;
}

#color-input1 {
    color: rgb(255, 255, 255);
    font-family: roboto, sans-serif;
    font-size: 16px;
    Font-weight: bold;
    background-color: rgb(49, 70, 139);
}

#color-input2 {
    color: rgb(0, 0, 0);
    font-family: roboto, sans-serif;
    font-size: 16px;
    Font-weight: bold;
    background-color: hsl(225, 19%, 92%);
}

#color-input3 {
    color: rgb(0, 0, 0);
    font-family: roboto, sans-serif;
    font-size: 16px;
    Font-weight: bold;

    background-color: hsl(225, 19%, 92%);
}

#color-input4 {
    color: rgb(0, 0, 0);
    font-family: roboto, sans-serif;
    font-size: 16px;
    Font-weight: bold;

    background-color: hsl(225, 19%, 92%);
}

#color-input5 {
    color: rgb(0, 0, 0);
    font-family: roboto, sans-serif;
    font-size: 16px;
    Font-weight: bold;

    background-color: hsl(225, 19%, 92%);
}

.dashboard {
    background-color: rgb(255, 255, 255);
}

.dashboard>h1 {
    text-align: center;
    margin: 0 0 20px 0;
    padding: 15px 0px 15px;
    color: rgb(253, 253, 253);
    font-family: roboto, sans-serif;
    font-size: 25px;
    Font-weight: middle;
    background-color: #030325;
}

.container {
    display: flex;
}

.block_nav_pdf {
    width: 30%;
    height: 770px;
    overflow: auto;
}

.block_nav_pdf h1 {
    margin: 0 0 0 0;
    padding: 10px 10px 10px 10px;

    color: rgb(253, 253, 253);
    font-family: roboto, sans-serif;
    font-size: 18px;
    Font-weight: middle;
    background-color: #030325;
}

.block_nav_pdf p {
    margin: 0 0 0 0;
    padding: 10px 10px 10px 10px;

    color: rgb(0, 0, 0);
    font-family: roboto, sans-serif;
    font-size: 16px;
    Font-weight: middle;

}

.block_nav_pdf input {
    width: 180px;
    height: 35px;
    margin: 0 15px 15px 10px;

    color: rgb(0, 0, 0);
    font-family: roboto, sans-serif;
    font-size: 16px;
    Font-weight: middle;
}

.block_nav_pdf input:hover {
    transition: 0.7s;
}

.block_view_pdf {
    width: 70%;
    margin: 0 0 0 0;

}

.block_view_pdf embed {
    width: 100%;
    height: 870px;

}

/* .container table {
    margin-top: 15px;
    margin-left: 15px;
    width: 550px;
    border-collapse: collapse;


    background-color: rgb(241, 243, 238);
}

.container td {

    padding: 5px 0px 5px 10px;

    color: #020235;
    font-family: roboto, sans-serif;
    font-size: 16px;
    Font-weight: middle;
}


.camera_block {
    width: 423px;
    height: 305px;
    margin: 15px 15px 15px;

    border: 2px solid rgb(155, 189, 152);
    background-color: rgb(49, 70, 139);
}

.camera_block h3 {
    height: 35px;
    margin: 0;
    padding: 12px;

    color: #020235;
    font-family: roboto, sans-serif;
    font-size: 16px;
    Font-weight: middle;

    background-color: rgb(201, 236, 201);
}

.camera_block img {
    width: 422px;
    height: 245px;

    opacity: 1;
}

.camera_block img:hover {
    opacity: 0.7;
}

video {
    object-fit: contain;
    overflow: clip;
} */